<div class="grandParentContaniner">

 	<div class="container">

 		<h1 id="message_title">Send Some Love</h1>

 		<form id="msgform" action="/messages" method="post">

 		  <div class="form-inputs">
 		  	<textarea name="content" id="" cols="40" rows="12"></textarea>
 		  </div>

 		  <div class="form-inputs">
				<input class="submit-button" type="submit" value="Send">
			</div>

 		</form>
  </div>
</div>
