<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Let's End Hate</h1>
      <div class="row center">
        <h5 class="header col s12 light">Send a kind message to make a small dent in our world today</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light cyan lighten-3">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/DSC_0487.jpg" alt="Unsplashed background img 3"></div>
</div>



<div class="container">

	<h1>Send Some Love</h1>

	<form action="/messages" method="post">

	  <div>
	  	<textarea name="content"></textarea>
	  </div>

	  <div>
		  <input class="submit-button" type="submit" value="Send">
	  </div>

	</form>
</div>
