<div class="grandParentContaniner">

 	<div class="container">

 		<h1>Thank you for sending a positive message</h1>
 		<h3>Together we can end hate, one small act of kindness at a time </h3>
		
 		<% @messages.each do |message| %>
			<ul>
				<li> <%= message.content %></li>
			</ul>
 		<% end  %>

 		</form>
  </div>
</div>
